<div class="container mt-5 px-5">
  <div class="alert alert-danger my-2" *ngIf="errorMessage">
    <strong>Oh snap!</strong> <a class="alert-link px-1">{{errorMessage}}</a>.
  </div>
  <div class="d-flex justify-content-center">
    <div [hidden]="!loading" class="spinner-border" style="width: 3rem; height: 3rem; margin-top: 10%;" role="status">
    </div>
  </div>
  <div [hidden]="loading" *ngIf="product" class="row">
    <div class="col-md-6 px-5">
      <img [src]="product.image" class="img-fluid">
    </div>
    <div class="col-md-6">
      <h2>{{product.name}}</h2>
      <div class="mb-2 text-muted">
        <span>{{product.category}}</span>
        <span class="text-dark"> • </span>
        <span>{{product.brand}}</span>
        <span class="text-dark"> • </span>
        <span>In Stock : {{product.countInStock}}<br /></span>
      </div>
      <h3 class="price">${{product.price}}</h3>
      <p class="description">{{product.description}}</p>
      <form>
        <div class="form-group my-3" style="width: 25%;">
          <label for="quantity">Quantity:</label>
          <input type="number" class="form-control mt-1" id="quantity" value="1">
        </div>
        <button type="submit" class="btn btn-dark my-3 py-3 px-5">Add to Cart</button>
      </form>
    </div>
  </div>
</div>